#canvas {
	width: 100%;
	background-color:#000;
}
.output, .running {
	color: #999;
}
#instructions {
	text-transform: uppercase;
}
.btn {
	padding-left: 20px;
	padding-right: 20px;
}

.key-conveyor::after {
	content: "";
	width: 10px;
	height: 10px;
	background-color: rgb(0, 200, 0);
	position: absolute;
	margin:10px;
}

.key-robot::after {
	content: "";
	width: 0;
	height: 0;
	border-radius: 10px;
	border:5px solid rgb(255, 0, 0);
	position: absolute;
	margin: 10px;
}

.key-crate::after {
	content: "";
	width: 10px;
	height: 10px;
	background-color: rgb(0, 0, 255);
	position: absolute;
	margin:10px;
}